body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e6e6e6;
    text-align: center;
    
    margin-top: 50px;
    
}

.container {
    background-color: #e6e6e6; 
    padding: 0px;          
  }

.row {
background: white;
padding: 20px 0;
border-radius: 10px;
margin: 0.5px;
     }


@font-face {
    font-family: 'Digital-7';
    src: url('/assets/fonts/digital7/digital-7.ttf') format('truetype');
}
#clock {
    font-family: 'Digital-7', sans-serif;
    font-size: 6em;
    color: #555;
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media (min-width: 100px){
    #clock {
    font-size: 4em;
    }
}

@media (min-width: 249px){
    #clock {
    font-size: 4.791em;
    }
}

@media (min-width: 299px){
    #clock {
    font-size: 5.75em;
    }
}

@media (min-width: 319px){
    #clock {
    font-size: 5.9em;
    }
}

@media (min-width: 359px){
    #clock {
    font-size: 6.9em;
    }
}

@media (min-width: 374px){
    #clock {
    font-size: 7.1875em;
    }
}

@media (min-width: 383px){
    #clock {
    font-size: 7.36em;
    }
}

@media (min-width: 389px){
    #clock {
    font-size: 7.475em;
    }
}

@media (min-width: 400px){
    #clock {
    font-size: 7.666em;
    }
}

@media (min-width: 411px){
    #clock {
    font-size: 7.896em;
    }
}

@media (min-width: 424px){
    #clock {
    font-size: 8.145em;
    }
}

@media (min-width: 480px){
    #clock {
    font-size: 9.2em;
    }
}

@media (min-width: 520px){
    #clock {
    font-size: 9.966em;
    }
}

@media (min-width: 620px){
    #clock {
    font-size: 11.5em;
    }
}

@media (min-width: 767px){
    #clock {
    font-size: 14.72em;
    }
}

