body {
    background: #e6e6e6;
}

img.card-img-top {
    object-fit: cover;
    height: 300px;
}

.custom-progress {
    height: 20px;
}

.custom-progress-bar {
    transition: width 0.5s ease;
}

header {
    position: relative;
    color: white;
    text-align: center;
    padding: 5rem 1rem;
    min-height: 370px; /* Ajuste conforme necessário */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Altere de 370px para 100% */
    background-image: url('../imgs/background.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

.bg {
    background: #00000066;
}

.navbar-brand img {
    margin-right: 10px;
}

@media (max-width: 576px) {
    header {
        padding: 3rem 1rem;
    }
}

.nav-item a.btn {
    margin: 2px auto;
}

.container {
    margin-top: 50px;
}
.logo {
    width: 100px;
    display: block;
    margin: 10px auto;
}

#selectMonth {
    display: block;
    width: 150px;
    margin: 10px auto;
}


.table td, .table th {
    vertical-align: middle;
    text-align: center;
    border-right: 1px white solid;
}
.table thead th {
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Texto branco */
    border: 1px white solid;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 123, 255, 0.1); /* Cor de fundo azul claro para linhas alternadas */
}
.col-media {
    background-color: #005000 !important; /* Cor de fundo verde suave */
    color: white;
}
.table tbody tr {
    background-color: #f0f0f0; /* Cor de fundo cinza claro para todas as linhas */
}
.destaqueLinhas {
   background: #00800063 !important; 
}

tr.dia-atual td {
    background: #13554f !important;
    color: white;
}


.day-container {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    background: white;
    border-radius: 10px;
    padding: 10px;
}

.task-date {
    font-weight: bold;
    margin-bottom: 5px;
}

.project-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.task-item {
    margin-left: 15px;
    margin-bottom: 5px;
    color: gray;
}

